<p id="notice"><%= notice %></p>

<h1 class="title">Order Details</h1>
<table>
  <thead>
    <div class="columns is-multiline">

    </div>
  </thead>

  <tbody>
    <% if @cart.empty? %>
      <div>
        <h1> No Cards in Cart </h1>
      </div>
    <% else %>
      <% total = 0 %>
        <div class="columns is-multiline">
          <% @cart.each do |card|%>

            <% total += card.price %>
            <% @thisCard = Card.find(card.id)%>
            <%= render partial: 'CardDetails',
                      object: @thisCard,
                      locals: {show_link: true,
                              is_show: false} %>
          <% end %>
      </div>
      <div class="columns is-centered">
        <h1 class="title">
          <% if session[:user_id].nil? %>
            <p> You must log in or create an accout to purchase </p>
          <% else %>
            <p class="button"><%= link_to 'Buy Now', orders_index_path %> </p>
          <% end %>
        </h1>
      </div>
    <% end %>
  </tbody>
</table>
<br>


