<p id="notice"><%= notice %></p>

<h1 class="title">Order Details</h1>

<table>
  <thead>
    <div class="columns is-multiline">

    </div>
  </thead>

  <tbody>
    <div class="columns is-multiline">
        <% @cart.each do |card|%>
          <% @thisCard = Card.find(card.id)%>
          <%= render partial: 'CardDetails',
                     object: @thisCard,
                     locals: {show_link: true,
                              is_show: false} %>
        <% end %>
    </div>
  </tbody>
</table>
<br>

