<div class="title">
  <h1>About Page</h1>
</div>
<div class="container">
  <div class="notification">
    <div class="subtitle">
      <p> <%= @pages.description %></p>
      <br>
      <p> <strong> Phone Number: </strong> <%= @pages.phone %> </p>
      <p> <strong> Email: </strong> <%= @pages.email %> </p>
    </div>
  </div>
</div>
