<p id="notice"><%= notice %></p>
<head class="title">
  <div class="container">
    <br>
    <h1 class="title"> Card Information: </h1>
  </div>
</head>
<div class="columns">
  <div class="container">
    <br>
    <div>
      <%= render partial: 'card',
               object: @card,
               locals: {show_link: false,
                        is_show: true} %>
    </div>
  </div>
</div>
