<p id="notice"><%= notice %></p>

<h1 class="title">Categories</h1>

<table>
  <thead>
    <tr>
      <th class="subtitle">Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @category.each do |category| %>
      <tr class="list">
        <td class="list-item"><%= link_to category.name, category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

